header {
    background-color: #56cbf25d;
    padding: 15px;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 40px 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content-logo {
    width: 150px;
}