::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #56cbf2;
    border-radius: 50px;
}

.content {
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home__title {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.first_part .title {
    font-size: 50px;
}

.title_metaverse {
    background: #00F260;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-style: italic;
    font-weight: 700;
    font-size: 60px;
    right: 0;
}

.rectangle {
    background: #00F260;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 150px;
    height: 150px;
    border-radius: 50px;
    position: absolute;
    top: 200px;
    left: 60vw;
    z-index: -1;
}

.metaverse_image__container {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.metaverse_image__container img {
    width: 300px;
}

.second_part {
    margin-top: 25px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.second_part a {
    text-decoration: none;
}

.second_part .title {
    font-size: 50px;
}

.youtube__apresentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 0, 0, 0.493);
    border-radius: 40px;
    padding: 20px;
    color: white;
    position: relative;
}

.youtube__apresentation:hover {
    cursor: pointer;
}

.youtube__apresentation.active {
    border-radius: 40px 40px 0px 0px;
}

.youtube__apresentation__logo {
    display: flex;
    justify-content: center;
}

.youtube__apresentation__logo svg {
    font-size: 40px;
}

.youtube__apresentation__toggle svg {
    font-size: 25px;
}

.youtube__apresentation__iframe {
    background: rgba(255, 0, 0, 0.493);
    border-radius: 0px 0px 40px 40px;
    height: 235px;
    display: none;
}

.youtube__apresentation__iframe.active {
    display: block;
}

.youtube__apresentation__iframe iframe {
    width: 100%;
    height: 235px;
    border-radius: 40px;
}

.product__apresentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(119, 0, 255, 0.493);
    border-radius: 40px;
    padding: 20px;
    color: white;
}

.product__apresentation__logo {
    display: flex;
    justify-content: center;
}

.product__apresentation__logo svg {
    font-size: 40px;
}

.product__apresentation__toggle svg {
    font-size: 20px;
}

.third_part {
    margin-top: 70px;
    bottom: 0;
}

.third_part .arrow {
    display: flex;
    justify-content: center;
}

.third_part .arrow svg {
    color: #56cbf2d7;
    font-size: 35px;
}

/* Fourth part */

.fourth_part {
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
    overflow-x: hidden;
}

.fourth_part .first,
.fourth_part .second {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fourth_part .first *,
.fourth_part .second * {
    position: relative;
}

.fourth_part .image__container,
.fourth_part .text {
    transition: 1s ease-in-out;
}

.fourth_part img {
    width: 100%;
    border-radius: 10px;
}

/* BEGIN Fourth part - first */

.fourth_part .first .text {
    left: calc(-100vw - 50px);
    color: white;
}

.fourth_part .first .text.active {
    left: 0px;
}

.fourth_part .first .text h1 {
    color: rgb(255, 217, 0);
}

.fourth_part .first .image__container {
    right: calc(-100vw - 50px);
}

.fourth_part .first .image__container.active {
    right: 0;
}

/* END Fourth part - first */

/* BEGIN Fourth part - second */

.fourth_part .second .text h1 {
    color: #0575E6;
}

.fourth_part .second .text {
    text-align: right;
    right: calc(-100vw - 50px);
    color: white;
}

.fourth_part .second .text.active {
    right: 0;
}

.fourth_part .second .image__container {
    left: calc(-100vw - 50px);
}

.fourth_part .second .image__container.active {
    left: 0;
}

/* END Fourth part - second */

/* For medium screen */
@media screen and (min-width: 768px) {
    .first_part {
        margin-top: 20px;
    }

    .second_part {
        margin: 25px 100px 0px 100px;
    }

    .third_part {
        margin-top: 30px;
    }

    .rectangle {
        left: 55vw;
    }

    .youtube__apresentation__iframe {
        background: rgba(255, 0, 0, 0.493);
        border-radius: 0px 0px 40px 40px;
        height: 375px;
        display: none;
    }

    .youtube__apresentation__iframe iframe {
        width: 100%;
        height: 375px;
        border-radius: 40px;
    }
}

/* For large screen */
@media screen and (min-width: 992px) {
    .first_part {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .home__title {
        text-align: left;
    }

    .first_part .title {
        font-size: 60px;
    }

    .title_metaverse {
        font-size: 70px;
    }

    .metaverse_image__container {
        display: flex;
        justify-content: center;
    }

    .rectangle {
        left: 75vw;
    }

    .second_part {
        margin: 25px 200px 0px 200px;
    }

    .third_part {
        margin-top: 60px;
    }

    .fourth_part .first,
    .fourth_part .second {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .second_part {
        margin: 25px 300px 0px 300px;
    }
}

@media screen and (min-width: 1400px) {
    .second_part {
        margin: 25px 400px 0px 400px;
    }
}