

.sidenav__container {
    position: absolute;
    height: 100vh;
    z-index: 99;
}

.sidenav__button {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease-in-out left;
}

.sidenav__button.open {
    left: 80px;
}

.sidenav__button button {
    padding: 20px 20px 20px 10px;
    background-color: #56cbf25d;
    border-radius: 0px 50px 50px 0px;
}

.sidenav__button button:hover {
    cursor: pointer;
}

.sidenav__button button svg {
    color: #0669e15e;
    height: 30px;
}

.sidenav__button button svg:hover {
    color: #0080FB;
}

.sidenav {
    left: -80px;
    border-radius: 0px 50px 50px 0px;
    width: 80px;
    height: 90vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background: #56cbf25d;
    transition: 0.3s ease-in-out left;
}

.sidenav.open {
    left: 0px;
}

.sidenav .header {
    padding: 30px 0px 100px 0px;
}

.sidenav .header img {
    width: 100%;
}

.topics {
    position: absolute;
    width: 100%;
    color: black;
    /* To keep topics vertically centered */
    top: 50%;
    transform: translateY(-50%);
}

.topics ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    gap: 50px;
}

.topics ul li svg {
    font-size: 30px;
    color: #0669e15e;
    transition: 0.2s ease-in-out;
}

.topics ul li svg:hover {
    color: #0080FB;
    cursor: pointer;
}